/* ============================== SideBar Header Style */

.sidebar-header {
    font-size: 29px;
    height: 163px;
    display: inherit;
}

.sidebar-header.position-relative.background-default.d-flex.p-10.color-white.small {
    justify-content: center;
}

.sidebar-header svg.position-absolute {
    background: #564cbf;
    border-radius: 30px;
    left: -22px;
}

.sidebar-header svg.position-absolute.small {
    transform: rotate3d(0, 18, 0, 180deg);
}

.sidebar-header h3 {
    margin-top: 25px;
}

/* ===================================== SideBar Profile Style */
.sidebar-profile img {
    width: 83px;
    border-radius: 55px;
    left: 34%;
    top: -120px;
}

.sidebar-profile img.small {
    width: 35px;
    border-radius: 55px;
    left: 30%;
    top: -96px;
}

.sidebar-profile img:hover {
    top: -125px;
}

.sidebar-profile .profile-title {
    margin-top: 66px;
}

.sidebar-profile .profile-title h2 {
    font-size: revert;
}

/* ==================================== SideBar Main Style */
.sidebar-main {
    height: 575px;
    overflow-y: auto;
}

.sidebar-main .main-item {
    font-size: large;
}

.sidebar-main .main-item.active a {
    color: #6456fa;
}

.sidebar-main .main-item a.transition.d-flex.text-gray-2.text-center.w-100.mt-20.small {
    justify-content: center;
}

.sidebar-main .main-item a::before {
    position: absolute;
    content: "";
    background-color: #6456fa;
    width: 6px;
    height: 36px;
    font-weight: bold;
    right: -7px;
    border-radius: 8px;
    -webkit-transition: 500ms all cubic-bezier(0.39, 0.58, 0.57, 1);
    transition: 500ms all cubic-bezier(0.39, 0.58, 0.57, 1);
}

.sidebar-main .main-item:hover a::before {
    position: absolute;
    content: "";
    background-color: #6456fa;
    width: 6px;
    height: 36px;
    font-weight: bold;
    right: -2px;
    border-radius: 8px;
}

.sidebar-main .main-item.active:hover a::before {
    position: absolute;
    content: "";
    background-color: #6456fa;
    width: 6px;
    height: 36px;
    font-weight: bold;
    right: -2px;
    border-radius: 8px;
}

.sidebar-main .main-item:hover a {
    color: #6456fa;
}

.sidebar-main .main-item svg {
    font-size: x-large;
}

/* ================================================ SideBar Footer */
.sidebar-footer {
    text-align: -webkit-center;
}

.sidebar-footer .button-theme {
    border-radius: 61px;
    justify-content: center;
}

.sidebar-footer .button-theme button {
    padding: 0px 9px 0px 9px;
    border-radius: 36px;
    border: 0;
    font-size: unset;
    font-weight: bold;
    margin-right: 4px;
    cursor: pointer;
}

.sidebar-footer .button-theme button.active {
    background-color: white;
}

.css-1rtdh6a.small{
    grid-column: 15/15;
}
.css-15b6q7n.small{
    grid-column: 1/15;

}